section {
    padding: 55px 0;

    .section-devider {
        display: block;
        height: 1px;
        margin: 50px 0;
    }

    .components-section-title {
        font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1200 - 320)));
        margin-bottom: 15px;
        
        @Include media-breakpoint-up(lg) {
            font-size: 23px;
        }
    }

    .section-secondary-title {
        font-size: 17px;
        opacity: .7;
        margin-bottom: 15px;
    }
}