@import 'blog_site/scss/main';

.card {
    position: relative;

    .card-header,
    .card-body,
    .card-footer {
        padding-top: $card-padding-y;
        padding-bottom: $card-padding-y;
        padding-left: 0;
        padding-right: 0;
    }

    .card-footer {
        padding: $card-spacer-y $card-spacer-x;
        background-color: transparent;
        border-top: $card-border-width solid $card-border-color;
      }
}


// blog img holder 
.blog-media {
    position: relative;

    .badge {
        position: absolute;
        left: 0;
        top: 0px;
        padding: 7px;
        z-index: 10;
    }
}