{% extends 'base.html' %}

{% load sass_tags %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% sass_src 'blog/scss/main.scss' %}">
{% endblock extra_styles %}

<!-- page-header -->
{% block header %}
  <header class="page-header"></header>
{% endblock header %}
<!-- end of page header -->

{% block content %}
  <hr>
  <div class="page-container">
    <div class="page-content">
      <div class="row">  
        {% for post in posts %}                     
        <div class="col-lg-6">
            <div class="card text-center mb-5">
                <div class="card-header p-0">                                   
                    <div class="blog-media">
                        <img src="{% get_static_prefix %}imgs/img-{{ forloop.counter }}.jpg" alt="" class="w-100">
                        <a href="{{ post.get_absolute_url }}?key={{ forloop.counter }}" class="badge bg-primary">#Placeat</a>        
                    </div>  
                </div>
                <div class="card-body px-2">
                    <h5 class="card-title mb-2">{{ post.title }}</h5>    
                    <small class="small text-muted">Published {{ post.publish }} by {{ post.author }}
                        <span class="px-2">-</span>
                        <a href="#" class="text-muted">{{ post.comments.count }} Comment{{ post.comments.count|pluralize }}</a>
                    </small>
                    <p class="my-2">{{ post.body|truncatewords:30|linebreaks }}</p>
                </div>
                
                <div class="card-footer p-0 text-center">
                    <a href="{{ post.get_absolute_url }}?key={{ forloop.counter }}" class="btn btn-outline-dark btn-sm">READ MORE</a>
                </div>                  
            </div>
          </div>
        {% endfor %}
        {% include "blog/components/pagination.html" with page=posts %}
        </div>
    </div>
    <div class="page-sidebar text-center">
      <h6 class="sidebar-title section-title mb-4 mt-3">About</h6>
      <img src="{% static 'imgs/avatar.jpg' %}" alt="" class="circle-100 mb-3">
      <p>Consectetur adipisicing elit Possimus tempore facilis dolorum veniam impedit nobis. Quia, soluta incidunt
        nesciunt dolorem reiciendis iusto.</p>
      {% include 'blog/components/sidebar_tags.html' %}
    </div>
  </div>
</section>
{% endblock content %}