{% extends 'base.html' %}

{% load static %}

{% block content %}
<section>
  <div class="feature-posts">
{% for post in posts %}
    <div class="feature-post-container">
      <a href="{% url 'blog:post_detail' post.post_id %}" class="feature-post-item">
        <img src="{% get_static_prefix %}imgs/img-{{forloop.counter}}.jpg" class="w-100" alt="">
        <div class="feature-post-caption">{{ post.title }}</div>
      </a>
      <p class="date">
        Published {{ post.publish }} by {{ post.author }}
      </p>
    </div>
    {% comment %} <h2>
      <a href="{% url 'blog:post_detail' post.post_id %}">
        {{ post.title }}
      </a>
    </h2>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|escape|truncatewords:30|linebreaks }}  {% endcomment %}
{% endfor %}
  </div>
</section>
{% endblock content %}