{% extends 'base.html' %} {% load static %} 

{% load sass_tags %} 

{% block extra_styles %}
  <link rel="stylesheet" href="{% sass_src 'blog/scss/main.scss' %}">
{% endblock extra_styles %}

{% block title %} {{ post.title }} {%endblock %} 

{% block header %}
<header class="page-header page-header-mini">
    <h1 class="title">{{ post.title }}</h1>
    <ol class="breadcrumb pb-0">
        <li class="breadcrumb-item">
            <a href="{% url 'blog:home' %}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ post.title }}
        </li>
    </ol>
</header>
{% endblock header %} 

{% block content %}
<section class="container">
  <div class="page-container">
      <div class="page-content">
          <div class="card">
              <div class="card-header pt-0">
                  <h3 class="card-title mb-4">{{ post.title }}</h3>
                  <div class="blog-media mb-4">
                      <img
                          src="{% get_static_prefix %}imgs/blog-{{ img_number }}.jpg"
                          alt=""
                          class="w-100"
                      />
                      <a href="#" class="badge badge-primary">#Salupt</a>
                  </div>
                  <small class="small text-muted">
                      <a href="#" class="text-muted">{{ post.author }}</a>
                      <span class="px-2">·</span>
                      <span>{{ post.publish }}</span>
                      <span class="px-2">·</span>
                      {% with comments.count as total_comments %}
                      <a href="#" class="text-muted">{{ total_comments }} Comment{{ total_comments|pluralize }}</a>
                      {% endwith %}
                  </small>
              </div>
              <div class="card-body border-top">
                  <p class="my-3">
                    {{ post.body|linebreaks }} 
                  </p>
              </div>
          </div>
          <hr>
          {% with comments.count as total_comments %}
            <h6 class="mt-5 mb-3 text-center">{{ total_comments }} Comment{{ total_comments|pluralize }}</h6>
          {% endwith %}

          {% for comment in comments %}
            {% include 'blog/components/comment.html' with comment=comment %}
          {% endfor %}
          {% include 'blog/components/comment_form.html' with form=form %}
      </div>
      <div class="page-sidebar">
        {% include 'blog/components/sidebar_tags.html' %}

        <div class="ad-card d-flex text-center align-items-center justify-content-center mt-4">
            <span href="#" class="font-weight-bold">ADS</span>
        </div>
    </div>
  </div>
</section>

{% endblock %}


