{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% sass_src 'blog_site/scss/main.scss' %}" rel="stylesheet" type="text/css" />
    {% block extra_styles %}{% endblock extra_styles %}
    <title>{% block title %} Legacy | HIS story {% endblock title %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'blog:home' %}">
                    Legacy | HIS story
                </a>
            </div>
        </nav>
    </header>
    {% block header %}{% endblock header %}
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
</body>
</html>

