@import 'blog_site/scss/main';


// DIMENSIONS
$card-padding-y: 1rem;

// Cards
$card-border-width:                 0;
$card-border-color:                 transparent;
$card-bg:                           transparent;
$card-cap-bg:                       transparent;
$card-padding-y:                    1rem;
$badge-color:                       $gray-800;

// border radius
$border-radius:               0rem;
$border-radius-lg:            0rem;
$border-radius-sm:            0rem;

// links
$link-hover-decoration:       none;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .500rem;
$input-btn-padding-x:         .85rem;


$input-btn-padding-y-sm:      .4rem;
$input-btn-padding-x-sm:      .6rem;


// Breadcrumbs

$breadcrumb-padding-y:              .55rem;
$breadcrumb-bg:                     transparent;
$breadcrumb-font-size:              .9rem;

$breadcrumb-divider-color:          $gray-900;
$breadcrumb-active-color:           $gray-600;
$breadcrumb-link-color:             $gray-900;
$breadcrumb-divider:                quote("·");


